
/* CSS Reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* Custom Properties */

:root {
    /* Primary Colors */
    --clr--very-dark-blue: hsl(243, 87%, 12%);
    --clr--desaturated-blue: hsl(238, 22%, 44%);

    /* Accent Colors */
    --clr--bright-blue: hsl(224, 93%, 58%);
    --clr--moderate-cyan: hsl(170, 45%, 43%);

    /* Neutral Colors */
    --clr--light-grayish-blue: hsl(240, 75%, 98%);
    --clr--light-grayish-blue-darker: hsl(240, 75%, 75%);
    --clr-light-gray: hsl(0, 0%, 75%);
    --clr--white: hsl(255, 100%, 100%);

    /* Fonts */
    --ff--raleway: "Raleway", sans-serif;
    --ff--open-sans: "Open Sans", sans-serif;

    /* Font Weights */
    --fw--bold: 700;
}


/* Components */

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    background-color: var(--clr--bright-blue);
    color: var(--clr--light-grayish-blue);
    cursor: pointer;
    padding: 1em 3em;
    border: none;
    border-radius: 3px;
    font-family: var(--ff--raleway);
    font-weight: var(--fw--bold);
}

.btn:is(:hover, :focus) {
    opacity: .7;
    transition: .5s;
}

h1,
h2,
h3 {
  font-family: var(--ff--raleway);
  font-weight: var(--fw--bold);
}

#main-form-email,
#secondary-form-email {
  border: 1px solid var(--clr--desaturated-blue);
  border-radius: 3px;
  padding: .5em 1em;
}

/* General Styling */

body {
    font-family: var(--ff--open-sans);
    color: var(--clr--very-dark-blue);
}

/* HEADER */ 
.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.navbar {
  font-family: var(--ff--raleway);
}

.navbar__menu {
    display: flex;
    gap: 1rem;
}

/* TOP SECTION */
.top-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 3rem 1rem;
  text-align: center;
}

.top-section__content > * + * {
  margin-top: 2rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* MIDDLE SECTION */

.middle-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding: 2rem 1rem;
  background-color: var(--clr--light-grayish-blue);
  position: relative;
}

.bg-curve {
  position: absolute;
  top: -30px;
}

.middle-section__heading {
  text-align: center;
  margin: 3rem 0 2rem;
}

.arrow-link__content {
  margin-block: 2rem;
  display: flex;
  gap: .5rem;
  justify-content: center;
  color: var(--clr--moderate-cyan);
  position: relative;
}

.arrow-link__content:after {
  content: "";
  display: block;
  width: 180px;
  height: 2px;
  background-color: var(--clr--moderate-cyan);
  position: absolute;
  bottom: -5px;
}

.arrow-link__content:hover {
  opacity: .75;
  transition: .2s;
}

.arrow {
  width: 1.5em;
}

.testimonial {
  background-color: var(--clr--white);
  padding: 2rem;
  margin: 2rem;
  border-radius: 5px;
  max-width: 50ch;
}

.testimonial__content__paragraph {
  margin: 1rem 0;
}

.testimonial__author {
  display: flex;
  gap: 1rem;
}

.testimonial__author__image {
  border-radius: 50%;
  height: 50px;
}

.testimonial__author__name {
  font-weight: var(--fw--bold);
  font-family: var(--ff--raleway);
}

/* BOTTOM SECTION */

.bottom-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  background-color: var(--clr--desaturated-blue);
  color: var(--clr--light-grayish-blue);
  text-align: center;
  padding: 3rem;
}

.bottom-section__text__paragraph {
  margin: 1.5rem 0 2rem;
}

.secondary-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


/* FOOTER */
.footer {
  background-color: var(--clr--very-dark-blue);
  color: var(--clr--light-grayish-blue);
  padding: 3rem;
}

.footer a:is(:hover, :focus) {
  color: var(--clr--light-grayish-blue-darker);
  transition: .5s;
}

.footer__columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.logo-column {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-icon {
  display: flex;
  gap: 1rem;
}

.links-column {
  margin: 2rem 0;
}

.links-column-list {
  line-height: 2;
  margin: 0;
}

.social-media-column {
  display: flex;
  justify-content: center;
}

.social-media-column svg {
  border: 1px solid var(--clr--white);
  border-radius: 50%;
  margin: 10px;
  padding: 8px;
  height: 40px;
  width: 40px;
}

.social-media-column svg:is(:hover, :focus) {
  border-color: var(--clr--light-grayish-blue-darker);
  transition: .2s;
}

.social-media-column svg path:is(:hover, :focus) {
  fill: var(--clr--light-grayish-blue-darker);
  transition: .2s;
}


/* MEDIA QUERIES */

@media(min-width: 50rem) {
  /* TOP SECTION */
  .top-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
    justify-content: center;
    padding: 5rem 3rem;
  }
  .top-section__image {
    grid-column: 2 / 3;
  }
  .top-section__content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .main-form {
    flex-direction: row;
  }
  .main-form-email {
    width: 100%;
  }
  /* MIDDLE SECTION */
  .middle-section {
    grid-template-columns: repeat(7, 1fr);
    gap: 5rem;
  }
  .middle-section__image {
    grid-column: 5 / 8;
  }
  .middle-section__content {
    grid-column: 1 / 5;
    grid-row: 1 / 3;
    padding: 0 2rem;
  }
  .middle-section__heading {
    text-align: left;
  }
  .arrow-link__content {
    justify-content: flex-start;
  }
  .testimonial {
    margin: 0;
  }
  /* BOTTOM SECTION  */
  .bottom-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 5rem;
  }
  .bottom-section__text {
    text-align: left;
  }
  .btn-secondary {
    width: 50%;
  }
  /* FOOTER SECTION */
  .footer__columns {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
  .footer-icons {
    grid-column: 1 / 1;
    grid-row: 1 / 2;

  }
  .links-column {
    margin: 0;
  }
  .links-column-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items:stretch
  }
  .links-column-2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-items:stretch
  }
  .social-media-column {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
}




